
@import '../main.scss';

  iframe {
    width: 50rem;
    height: 35rem;
  }
  .details {
    width: 100vw;
    height: calc(100vh - 5rem);
    @include background();
    @include flex(flex,flex-start,center,column);
    color: white;
    input {
        background: black; /* fallback for old browsers */
        border: 1px solid white;
        padding: 0 0.5rem;
        margin: 0.5rem 0;
        color: white;
        border-radius: 10px;
    }
  }
  .details-song {
    width: auto;
    height: auto;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    border: 2px solid #0ff;
    border-radius: 10px;
    @include flex(flex,flex-start,center,column);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    h1 {
        font-size: 2rem;
        margin: 2rem 0;
      }
  }
  @media only screen and (max-width: 1050px) {
    .details-song h1 {
      font-size: 1.5rem;
    }
    iframe {
      width: 35rem;
      height: 23rem;
    }
  }
  @media only screen and (max-width: 800px) {

  .vjs_video_3-dimensions {
    width:400px;
    height:250px;
  }
}
  @media only screen and (max-width: 700px) {
    .details-song h1 {
      font-size: 1.2rem;
    }
    iframe {
      width: 25rem;
      height: 15rem;
    }
  }
  @media only screen and (max-width: 550px) {

    .vjs_video_3-dimensions {
      width:250px;
      height:150px;
    }
  }
  @media only screen and (max-width: 500px) {
    .details-song h1 {
      font-size: 1rem;
    }
    iframe {
      width: 16rem;
      height: 10rem;
    }
  }