@import '../main';

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include background();
    z-index: -1;
}
.main {
    width: 100vw;
    @include background();
    @include flex(flex,flex-start,center,column);
    color: white;
    input {
        background: black; /* fallback for old browsers */
        border: 1px solid white;
        padding: 0 0.5rem;
        margin: 0.5rem 0;
        color: white;
        border-radius: 10px;
    }
  }
  #changed{
    background-color: #00ffff;
    animation: rotation 1s linear;
  }
  @keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.song {
    width:100vw;
    height:25rem;
    border: 2px solid #0ff;
    border-radius: 10px;
    @include flex(flex,flex-start,center,row);
    margin: 0 0;
    h1 {
        font-size: 2rem;
        &:hover {
            color: #0ff;
        }
    }
}
.left-part{
    width:50%;
    height:100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.left-part h1{
    font-size: 2rem;
}
.right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    img{
        width:100%;
        height:100%;
    }
}
.button-div {
    position: relative;
    width: 100%;
    top: 0;
    button {
        -webkit-clip-path: polygon(
            0 29%,
            34% 29%,
            34% 0,
            68% 0,
            68% 28%,
            100% 28%,
            100% 71%,
            68% 70%,
            68% 100%,
            33% 100%,
            33% 70%,
            1% 70%
        );
        clip-path: polygon(
            0 29%,
            34% 29%,
            34% 0,
            68% 0,
            68% 28%,
            100% 28%,
            100% 71%,
            68% 70%,
            68% 100%,
            33% 100%,
            33% 70%,
            1% 70%
        );
        margin-left: 70%;
        background-color: white;
        border: 0;
        width: 1rem;
        height: 1rem;
        &:hover {
            background-color: #0ff;
            cursor: pointer;
        }
    }
}
.pages {
    width: 100vw;
    height: 7rem;
    @include flex();
    h1 {
        font-size: 1.5rem;
        color: white;
    }
}
.pages select,
#option {
    color: #0ff;
    border: 1.5px solid #0ff;
    border-radius: 10px;
    @include background();
    margin-left: 1rem;
    width: 3rem;
    height: 1.5rem;
}
@media only screen and (max-width: 1300px) {
    .left-part{
        padding: 0 1rem;
        h1{
            font-size: 1.5rem;
        }
    }
    }

@media only screen and (max-width: 900px) {
    .song{
        height:20rem;
    }
    .left-part{
        width:40%;
        h1{
            font-size: 1.0rem;
        }
    }
    .pages h1 {
        font-size: 1rem;
    }
    .pages select {
        width: 2rem;
    }
    .right-part{
        width:60%;
        img{
            width:20rem;
            height:13rem;
        }
    }
}
@media only screen and (max-width: 550px) {
    .song{
        height:15rem;
    }
    .left-part{
        padding: 0 0.5rem;
        width:40%;
        h1{
            font-size: 0.7rem;
        }
    }
    .right-part{
        width:60%;
        img{
            margin:0 0.5rem;
            width:15rem;
            height:10rem;
        }
    }
}
@media only screen and (max-width: 450px) {
    .song{
        height:13rem;
    }
    .left-part{
        width:50%;
    }
    .right-part{
        width:50%;
        img{
            margin:0 0.2rem;
            width:12rem;
            height:8rem;
        }
    }
}
