@import './components/Details';
@import './components/Discover';
@import './components/Home';
@import './components/Login';
@import './components/Main';
@import './components/Playlist';
@import './components/Register';
@import './components/Settings';
@import './main.scss';

.loading {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    @include flex();
    z-index: 6;
    @include background();
    img {
        height: 3rem;
        width: 3rem;
      }
  }